@{
    ViewData["Title"] = "You are logged in!";
}
<h2>Giriş mesajı!</h2>
<p>Giriş başarılı :)</p>

<li class="nav-item">
    <a class="btn btn-primary" asp-controller="Account" asp-action="ChangePassword">Şifremi değiştir</a>
</li>




