@{
    ViewData["Title"] = "You are logged in :)";
    // Layout = "~/Views/Shared/_LoginPartial.cshtml";
}
<h2>Giriş mesajı!</h2>
<p>Giriş başarılı :)</p>
<div>
    @await Html.PartialAsync("_LoginPartial")
</div>

