@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <!-- Butonlar -->
    <div>
        <a href="/Account/Login" class="btn btn-primary btn-lg d-block mb-3">Giriş Yap</a>
        <a href="/Account/Register" class="btn btn-success btn-lg d-block mb-3">Kayıt Ol</a>
        <a href="/Account/AdminLogin" class="btn btn-warning btn-lg d-block">Admin Olarak Giriş Yap</a>
    </div>
</div>

