@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kullanıcı Yönetim modülüne Hoşgeldiniz, Bu modülde şu özellikler geliştirilmiştir: giriş/çıkış, şifre değiştirme, şifremi unuttum
        gibi özellikler geliştirilmiştir.
    </h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>

