@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <!-- Butonlar -->
    <div>
        <a asp-controller="User" asp-action="Login" class="btn btn-primary">Giriş yap</a>
        <a asp-controller="User" asp-action="SignIn" class="btn btn-primary">Kayıt Ol</a>
        <a href="/Account/AdminLogin" class="btn btn-warning btn-lg d-block">Admin Olarak Giriş Yap</a>
    </div>
</div>

